.todo-item {
  border: solid 1px;
  margin: 1px;
  padding: 10px;
  border-radius: 3px;
}

.todo-checkbox {
  width: 1.1em;
  height: 1.1em;
}

.flex-space-between {
  justify-content: space-between;
}