<app-layout-container>
  <div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="quest.name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="quest.description"></textarea>
    </div>
    <div class="inline-form-group">
      <label>Complete:</label>
      <input type="checkbox" name="list-item" [(ngModel)]="quest.complete" >
    </div>
    <div class="inline-form-group">
      <button (click)="saveChanges()">Save</button>
    </div>
  </div>
</app-layout-container>
